extend ../layouts/layout

block vars 
  -title = 'Dashboards'
  -bodyClass = 'dashboards'
  -Data = reqData 
block append head 
  script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js") 
  script(type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js") 
  script(src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js") 

block append container 
  .container1 
    include ../blocks/bill_detail_dashboard
    .chart#divChart
      canvas(width="400" height="150" id='myChart' aria-label="Hello ARIA World")

    section.date-list#date-list
      h3 Data time:
      <input type="text" name="daterange" id="daterange" value="01/11/2023 - 2/11/2022" />
        <i class="fa-solid fa-calendar-days icon-calendar"></i>

    .chart-list-product 
      table.table-list-product.table
        tr
          th Code 
          th Total 
          th Customer 
          th Methods 
          th Discount  
          th Cash 
          th Due 
          th Created_at 
          th Created_by 
        each data in Data ? Data : []
          each d in data ? data : []
            tr#data 
              td 
                a(href="#" id="show-modal") #{d.invoice_code}
                  p#product_id #{d._id}
              td #{d.subtotal} $
              td #{d.customer.full_name} 
              td #{d.payment_method}
              td #{d.discount} $
              td #{d.payment_method == 'Paypal' ? '-' : `${d.money_given} $`}
              td #{d.payment_method == 'Paypal' ? '-' : `${d.money_back} $`}
              td #{d.created_at.split('T')[0]}
              td 
                a(href=`contacts/staffs/${d.created_by._id}`)
                  span #{d.created_by.full_name}




block append scripts 
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js") 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.0/chart.umd.js") 
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js") 
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.1/chart.min.js") 
  //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/antd/dist/antd.min.css")
  script(src="../../scripts/dashboard.js") 
  script(type="text/javascript" src="../../library/daterangepicker.js") 

 
